*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* .slide-body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
    
    
} */

.slide-container{
    max-width: 1120px;
    width: 100%;
    /* background-color: gray; */
    padding: 20px 0;
}

.slide-content{
    margin: 0 40px;
}

.card{
    width: 320px;
    border-radius:25px ;
    background-color: #fff;
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
   

}

.image-content{
    position: relative;
    row-gap: 5px;
}
/* 
.overlay{
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: burlywood;
    border-radius: 25px 25px 0px 25px;
} */

.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #FFA5AE;

}

.overlay::after{
    border-radius: 0 250px 0 0;
    background-color: #fff;
   
}



.card-image{
    padding: relative;
    height: 150px;
    width: 150px;
    border-radius:50%;
    background-color: #fff;
    padding: 3px;
}

.image-content{
    row-gap: 5px;
}


.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius:50%;
    border: 4px solid #6677C8;
  
    

}

.title{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

/* .element{
    display: flex;
} */

.button{
    border: none;
    padding: 8px 10px;
    color: #fff;
    border-radius:  10px;;
    background-color: #6677C8;
    margin: 8px;
    cursor: pointer;
    transition: all 0.3 ease; 
}

.button:hover{
    background: #7682bb;
}

.clo1,
.clo2,
.clo3
{
    background-color: #6677C8;
    color: #ffffff;

}

