
.modalBtn{
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 500px;
    transition: .3s;
}

.modalBtn:hover{
    color: #fff;
    border: 3px solid rgba(0,0,0,0);
}

.btnCancel{
    border: 3px solid theme('colors.teal');
}

.btnCheck{
    border: 3px solid theme('colors.pink');
}

.btnCancel:hover{
    background-color: theme('colors.teal')
}

.btnCheck:hover{
    border: none;
    background-color: theme('colors.pink')
}